{
  "printWidth": 100,
  "endOfLine": "lf",
  "proseWrap": "always",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true
}
